@model fans.Models.Payment.PaymentIndexViewModel

<div class="title">
    <i class="fas fa-hryvnia"></i>  付款紀錄
</div>

<div class="content content-bkg table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped table-sortable" id="userIndexTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Member</th>
                <th>Club</th>
                <th>Limit</th>
                <th>Amount</th>
                <th>Bank</th>
                <th>Customer</th>
                <th>Confirm</th>
                <th>Paid</th>


            </tr>
        </thead>
        <tbody>
            @foreach(var payment in Model.Payments)
            {
                <tr class="userRow">
                    <td>
                        @payment.Id
                    </td>
                    <td>
                        <!-- <a asp-controller="Member" asp-action="Detail" asp-route-id="@payment.MemberId">
                            @payment.MemberId
                        </a> -->
                        <a asp-controller="Member" asp-action="Index">
                            @payment.MemberId
                        </a>
                    </td>
                    <td>
                        @payment.ClubName
                    </td>
                    <td>
                        @payment.Limit
                    </td>
                    <td>
                        @payment.Amount
                    </td>
                    <td>
                        @payment.PaymentBank
                    </td>
                    <td>
                        @payment.PaymentCustomer
                    </td>
                    <td>
                        @payment.PaymentConfirm
                    </td>
                    <td>
                        @payment.Paid
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>