@model fans.Models.Member.MemberViewModel

<h1>@Model.ClubId | @Model.UserId</h1>

<div>
    Name: @Model.ChineseLastName @Model.ChineseFirstName
    Name: @Model.EnglishFirstName @Model.EnglishLastName
    Gender: @Model.Gender
    Birthdate: @Model.BirthDate
</div>