@model fans.Models.Member.MemberIndexViewModel

<div class="title">
    <i class="fas fa-smile"></i>  會員登記紀錄
</div>

<div class="content content-bkg">
    <table class="table table-hover table-sm table-bordered table-striped table-sortable" id="userIndexTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Club</th>
                <th>Katakana</th>
                <th>Step1</th>
                <th>Step2</th>
                <th>Step3</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var member in Model.Members)
            {
                <tr class="userRow">
                    <td>
                        <a asp-controller="Member" asp-action="Detail" asp-route-id="@member.Id">
                            @member.Id
                        </a>
                    </td>
                    <td>
                        @member.UserName
                    </td>
                    <td>
                        @member.ClubName
                    </td>

                    <td>
                        @if (@member.KatakanaLastName == null || @member.KatakanaFirstName == null)
                        {
                            <a asp-controller="Member" asp-action="ConvertKatakana" asp-route-id="@member.Id">convert</a> 
                        }
                        else
                        {
                            <p>converted</p>
                        }
                    </td>
                    <td>
                        @if (@member.KatakanaLastName != null && @member.KatakanaFirstName != null)
                        {
                            @if (@member.ClubId == 1)
                            {
                                @if (@member.RegisterLink == null)
                                {
                                    <a asp-controller="Member" asp-action="RegisterStepOne" asp-route-id="@member.Id">reg email</a>
                                }
                                else { <p>reged</p> }
                            }
                            else if (@member.ClubId == 3)
                            {
                                <a asp-controller="Member" asp-action="RegisterStepOne" asp-route-id="@member.Id">fill info</a>
                            }
                        }
                        else
                        {
                            <p>N/A</p>
                        }

                    </td>
                    <td>
                        @if (@member.ClubId == 1)
                        {
                            @if (@member.RegisterLink == null)
                            {
                                <p>N/A</p>
                            }
                            else if (@member.PaymentId == 0)
                            {

                                <a asp-controller="Member" asp-action="RegisterStepTwo" asp-route-id="@member.Id">fill info</a> 
                            }
                            else
                            {
                                <p>filled</p>
                            }
                        }
                        else if (@member.ClubId == 2)
                        {
                            <p>coming</p>
                          //<a asp-controller="Member" asp-action="RegisterStepOne" asp-route-id="@member.Id">fill info</a>
                        }
                    </td>
                    <td>
                        @if (@member.PaymentId == 0)
                        {
                            <p>N/A</p>
                        }
                        else
                        {
                            <a asp-controller="Payment" asp-action="Index">
                                payment
                            </a>
                        }
                        
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>