@model fans.Models.Member.MemberIndexViewModel

<div class="title">
    <i class="fas fa-smile"></i>  會員登記紀錄
</div>

<div class="content content-bkg">
    <table class="table table-hover table-sm" id="userIndexTable">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Club</th>
                <th>|</th>
                <th>Reg email</th>
                <th>Fill info</th>
                <th>Renew</th>
                <th>Register</th>
                <th>Register</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var member in Model.Members)
            {
                <tr class="userRow">
                    <td>
                        <a asp-controller="Member" asp-action="Detail" asp-route-id="@member.Id">
                            @member.Id
                        </a>
                    </td>
                    <td>
                        @member.UserName
                    </td>
                    <td>
                        @member.ClubName
                    </td>
                    <td>
                        |
                    </td>
                    <td>
                        <a asp-controller="Member" asp-action="RegisterStepOne" asp-route-id="@member.Id">go</a> 
                    </td>
                    <td>
                        @if (@member.RegisterLink == null)
                        {
                            <a>N/A</a>
                        }
                        else
                        {
                        <a asp-controller="Member" asp-action="RegisterStepTwo" asp-route-id="@member.Id">go</a> 
                        }
                    </td>
                    <td>
                        T
                    </td>
                    <td>
                        F
                    </td>
                    <td>
                        F
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>